﻿body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* ASCEND FIND LAB */
.media-object {
  max-height: 75px;
}
.media-tags {
  clear: both;
  font-size: .9em;
}
.media-tags span {
  font-weight: bold;
  float: left;
}
.media-tags ul {
  float: left;
  margin: 0;
  padding: 0;
}
.media-tags ul li {
  float: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-right: 10px;
}
.row {
  margin-top: 25px;
}
.game-attributelist {
  list-style: none;
}
.game-attributelist li {
  display: inline-block;
  margin-right: 10px;
}
.game-lite {
  width: 30% !important;
  margin: 10px;
  display: inline-block;
}
.game-lite img {
  width: 100%;
}
.game-lite h6 {
  text-align: center;
  text-overflow: ellipsis;
  overflow-y: hidden;
  line-height: 12px;
  height: 12px;
  font-weight: bold;
}