﻿@using EPiServer.Core
@model AscendFindLab.Models.ViewModels.GamePageViewModel

<div class="row">
    @if (Model == null || Model.Game == null)
    {
        <div>Game Not Found!</div>
    }
    else
    {
        if (Model.Game.HasDetails)
        {
            <div class="col-lg-12">
                <img class="center-block" src="@Model.Game.HeaderImage" />
            </div>

            <div class="col-lg-12">
                <h2 class="center-block text-center">@Model.Game.Name</h2>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-9">
                    @if (!string.IsNullOrEmpty(Model.Game.ShortDescription))
                    {
                        <p>@Html.Raw(@Model.Game.ShortDescription)</p>
                    }

                    @if (!string.IsNullOrEmpty(Model.Game.DetailedDescription))
                    {
                        <p>@Html.Raw(Model.Game.DetailedDescription)</p>
                    }

                    <h3>Related Games</h3>
                    <div class="game-related text-center">
                        <!-- We want to show our Related Games here instead -->
                        <center>I don't know how to find related games :(</center>
                    </div>
                </div>
                <div class="col-lg-3">
                    @if (!string.IsNullOrEmpty(Model.Game.RequiredAge))
                    {
                        <div>
                            <b>Ages:</b> @Model.Game.RequiredAge
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.Game.Website))
                    {
                        <div>
                            <a href="@Model.Game.Website">Visit the Website</a>
                        </div>
                    }

                    @if (Model.Game.Categories.Any())
                    {
                        <h5>Categories</h5>
                        <ul class="game-attributelist">
                            @foreach (var tag in Model.Game.Categories)
                            {
                                <li><a href="/?BoostCategory=@tag.Description">@tag.Description</a></li>
                            }
                        </ul>
                    }

                    @if (Model.Game.Genres.Any())
                    {
                        <h5>Genre(s)</h5>
                        <ul class="game-attributelist">
                            @foreach (var tag in Model.Game.Genres)
                            {
                                <li><a href="/?BoostGenre=@tag.Description">@tag.Description</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-12">
                <h2 class="center-block text-center">@Model.Game.Name</h2>
            </div>

            <text>We don't have any information for this game. Steam API likely was throttling me :(</text>
        }
    }
</div>
