﻿@model SteamGame

<div class="media">
    <div class="media-left">
        <a href="/Game/@Model.ApplicationId">
            <img class="media-object" src="@Model.HeaderImage" alt="@Model.Name">
        </a>
    </div>
    <div class="media-body">
        <a href="/Game/@Model.ApplicationId" style="text-decoration: none; color: #333;">
            <h4 class="media-heading">@Model.Name</h4>
        </a>

        <p>@Html.Raw(Model.ShortDescription)</p>

        <div class="media-tags">
            <span>Genre</span>
            <ul class="media-tags">
                @foreach (var genre in Model.Genres)
                {
                    <li>@genre.Description</li>
                }
            </ul>
        </div>

        <div class="media-tags">
            <span>Categories</span>
            <ul class="media-tags">
                @foreach (var category in Model.Categories)
                {
                    <li>@category.Description</li>
                }
            </ul>
        </div>

    </div>
</div>